h1= title
!{success}
!{message}
!{error}
form(method='post', action='/registration', class='form-stacked')
  fieldset
    legend Personal Information
    .clearfix
      label First Name
      .input
        input(size='30', type='text', name='firstname')
      br
      label Last Name
      .input
        input(size='30', type='text', name='lastname')
      br
      label Gender
      .input
        select(name='gender')
          option Male
          option Female
      br
      label Email
      .input
        input(size='30', type='text', name='email')
      br
      label School
      .input
        select(name='school')
          option Patrick Henry
  fieldset
    legend Account Information
    .clearfix
      label Username
      .input
        input(size='30', type='text', name='username')
      br
      label Password
      .input
        input(size='30', type='password', name='password')
      br
      label Recovery Question
      .input
        input(class='xlarge', size='30', type='text', name='recoveryquestion')
      br
      label Password Question Answer
      .input
        input(class='xlarge', size='30', type='text', name='recoveryquestionanswer')
      .actions
        button(type='submit', class='btn primary') Register